In [ ]:
'_' in dir(__builtins__)

In [ ]:
1+1

In [ ]:
'_' in dir(__builtins__)

In [ ]:
'_' in dir(__builtins__)

In [ ]:
_

In [ ]:
for _ in range(10):
    print("I don't care about index")

In [ ]:
year, month, day, _,  _, _ = (2020, 7, 10, 12, 10, 59) # year=2020, month=7, day=10
print(_) # 59

In [ ]:
year, *_, second = (2020, 7, 10, 12, 10, 59) # year=2020 
print(_) # [7, 10, 12, 10]

In [ ]:
integer = 1_000
amount = 1_000_000.1
binary = 0b_0100_1110
hex = 0xCAFE_F00D

In [ ]:
print(integer)

In [ ]:
print(amount)

In [ ]:
print(binary)

In [ ]:
print(hex)

In [ ]:
class Time:
    def __init__(self, year, month):
        self.year = year
        self._month = month
        self.__day = 1

    def get_day(self):
        return self.__day
    
    @property
    def day_property(self):
        return self.__day
      
time = Time(2020, 7)
print(time.get_day())

In [ ]:
# Python program to execute
# main directly
print ("Always executed")

if __name__ == "__main__":
	print ("Executed when invoked directly")
else:
	print ("Executed when imported")

In [ ]:
print("before import")
import math

print("before function_a")
def function_a():
    print("Function A")

print("before function_b")
def function_b():
    print("Function B {}".format(math.sqrt(100)))

print("before __name__ guard")
if __name__ == '__main__':
    function_a()
    function_b()
print("after __name__ guard")

In [ ]:
import os

In [ ]:
os.environron

In [ ]:
import json

In [ ]:
x =  '{ "name":"John", "age":30, "city":"New York"}'

In [ ]:
y = json.loads(x)   # converts json string to python object

In [ ]:
y

In [ ]:
y['age']

In [ ]:
a = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

In [ ]:
# convert python object to json

In [ ]:
b = json.dumps(a)

In [ ]:
b

In [ ]:
print(json.dumps({"name": "John", "age": 30}))

In [ ]:
print(b)

In [ ]:
type(json.dumps(["apple", "bananas"]))

In [ ]:
json.dumps(["apple", "bananas"])

In [ ]:
print(json.dumps(42))

In [ ]:
type(json.dumps(42))

In [ ]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

In [ ]:
print(json.dumps(x))

In [ ]:
print(json.dumps(x, indent=4 ))

In [ ]:
print(json.dumps(x, indent=4, separators=(". ", " = ")))

In [ ]:
print(json.dumps(x, indent=4, sort_keys=True))

In [ ]:
import logging

In [ ]:
logging.basicConfig(filename="newfile.log",
                    format='%(asctime)s %(message)s',
                    filemode='w')

In [ ]:
# creating a logging object
logger = logging.getLogger()

In [ ]:
logger.setLevel(logging.DEBUG)

In [ ]:
logger.debug("Harmless debug Message")
logger.info("Just an information")
logger.warning("Its a Warning")
logger.error("Did you try to divide by zero")
logger.critical("Internet is down")

In [ ]:
import traceback

In [ ]:
A = [1, 2, 3, 4]

In [ ]:
try:
    value = A[5]
except:
    traceback.print_exc()

print("end of program")

In [ ]:
import sys
  
a=3
b=0
try:
    a/b
except Exception as e:
    exc_type, exc_value, exc_tb = sys.exc_info()
    tb = traceback.TracebackException(exc_type, exc_value, exc_tb)
    print(''.join(tb.format_exception_only()))

In [ ]:
sys.exc_info()

In [ ]:
def call1(f):
  
  # inside call1()
  # call1() calling call2()
  call2(f)
def call2(f):
  # inside call2()
  # calling f()
     f()
def f():
    
    # inside f()
    summary = traceback.StackSummary.extract(
        traceback.walk_stack(None)
    )
    print(''.join(summary.format()))
  
# calling f() using call1()
call1(f)

In [ ]:
from enum import Enum

In [ ]:
class Season(Enum):
    SPRING = 1
    SUMMER = 2
    AUTUMN = 3
    WINTER = 4

In [ ]:
print(Season.SPRING)

In [ ]:
print(Season.SPRING.name)

In [ ]:
print(Season.SPRING.value)

In [ ]:
print(Season.WINTER)

In [ ]:
print(Season.WINTER.value)

In [ ]:
print(type(Season.SPRING))

In [ ]:
print(repr(Season.SPRING))

In [ ]:
print(list(Season))

In [ ]:
print("The enum member associated with value 2 is : ", Season(2).name)

In [ ]:
print("The enum member associated with name AUTUMN is : ", Season['AUTUMN'].value)

In [ ]:
for modes in Season:
    print(modes, "-",modes.value)

In [ ]:
class Animal():
    dog = 1
    cat = 2
    lion = 3

In [ ]:
di = {}
di[Animal.dog] = 'bark'
di[Animal.lion] = 'roar'

In [ ]:
di

In [ ]:
Animal.dog

In [ ]:
import glob

In [ ]:
print('Named explicitly:')
for name in glob.glob('C:\\Users\\Suraj\\Desktop\\suraj'):
    print(name)

In [ ]:
print('\nNamed with wildcard *:')
for name in glob.glob('C:\\Users\\Suraj\\Desktop\\suraj\\*'):
    print(name)

In [ ]:
print('\nNamed with wildcard ?:')
for name in glob.glob('C:\\Users\\Suraj\\Desktop\\suraj\\*[0-9].*'):
    print(name)

In [ ]:
def greeting(name: str) -> str:
    return 'Hello ' + name

In [ ]:
greeting('Suraj')

In [ ]:
Vector = list[float]

def scale(scalar: float, vector: Vector) -> Vector:
    return [scalar * num for num in vector]

# typechecks; a list of floats qualifies as a Vector.
new_vector = scale(2.0, [1.0, -4.2, 5.4])

In [ ]:
new_vector

In [ ]:
from typing import NewType

UserId = NewType('UserId', int)
some_id = UserId(524313)

In [ ]:
def get_user_name(user_id: UserId) -> str:
    ...

# typechecks
user_a = get_user_name(UserId(42351))

# does not typecheck; an int is not a UserId
user_b = get_user_name(-1)

In [ ]:
print(user_a)

In [ ]:
user_b

In [ ]:
output = UserId(23413) + UserId(54341)

In [ ]:
output

In [ ]:
type(output)

In [ ]:
import pyodbc

In [ ]:
cursor = connection.cursor()

In [ ]:
import socket

In [ ]:
s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)

In [ ]:
ip = socket.gethostbyname('www.google.com')
print(ip)

In [ ]:
try:
    s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
    print ("Socket successfully created")
except socket.error as err:
    print ("socket creation failed with error %s" %(err))

In [ ]:
port = 80
 
try:
    host_ip = socket.gethostbyname('www.google.com')
except socket.gaierror:
 
    # this means could not resolve the host
    print ("there was an error resolving the host")
    sys.exit()

In [ ]:
s.connect((host_ip, port))
 
print ("the socket has successfully connected to google")

In [ ]:
# first of all import the socket library
import socket			

# next create a socket object
s = socket.socket()		
print ("Socket successfully created")

# reserve a port on your computer in our
# case it is 12345 but it can be anything
port = 12345			

# Next bind to the port
# we have not typed any ip in the ip field
# instead we have inputted an empty string
# this makes the server listen to requests
# coming from other computers on the network
s.bind(('', port))		
print ("socket binded to %s" %(port))

# put the socket into listening mode
s.listen(5)	
print ("socket is listening")		

# a forever loop until we interrupt it or
# an error occurs
while True:

# Establish connection with client.
    c, addr = s.accept()	
    print ('Got connection from', addr )

    # send a thank you message to the client. encoding to send byte type.
    c.send('Thank you for connecting'.encode())

    # Close the connection with the client
    c.close()

    # Breaking once connection closed
    break

In [ ]:
# Import PurePath class
# from pathlib module
from pathlib import PurePath

# Instantiate the PurePath class
obj = PurePath('foo/baar')

# print the instance of PurePath class
print(obj)

In [ ]:
import html

In [ ]:
import html

myHtml =  """& < " ' >""" 
encodedHtml = html.escape(myHtml)
print(encodedHtml)

In [ ]:
encodedHtml = html.escape(myHtml, quote=False)`
print(encodedHtml)

In [ ]:
table = 'Pipeline logging'

In [ ]:
query = f"Update {table} set status = 'IN BASE' \
where run_id = ?;"

In [ ]:
print(query)

In [ ]:
query1 = f"""Update {table} set status = 'IN BASE'
where run_id = ?;"""

In [ ]:
print(query1)

In [1]:
conductor = 'DEF_AAC_336_UNK_S'

In [3]:
a = conductor.split('_')

In [4]:
a

['DEF', 'AAC', '336', 'UNK', 'S']

In [5]:
a[0][-1]

'F'

In [6]:
new = 'F_336_AAC_S_UNK'

In [7]:
'_'.join([a[0][-1], a[2], a[1], a[-1], a[-2]])

'F_336_AAC_S_UNK'

In [11]:
def map_clie_to_cyme_conductor(conductor):
    a = conductor.split('_')
    return '_'.join([a[0][-1], a[2], a[1], a[-2], a[-1]])

In [12]:
map_clie_to_cyme_conductor(conductor)

'F_336_AAC_UNK_S'

In [13]:
map_clie_to_cyme_conductor('DEP_AAAC_1/0_B_7')

'P_1/0_AAAC_B_7'

In [1]:
clie_to_cyme = {'DEP_AAAC_1/0_B_7': 'P_1/0_AAAC_B_7', 'DEF_AAC_336_UNK_S': 'F_336_AAC_UNK_S'}

In [2]:
clie_cond = 'DEP_AAAC_1/0_B_7'

In [3]:
cyme_cond = clie_to_cyme.get(clie_cond)

In [4]:
cyme_cond

'P_1/0_AAAC_B_7'

In [6]:
clie_to_cyme.get("ALL_AAC_795_B_7", "NULL")

'NULL'

In [7]:
clie_to_cyme.get('DEF_AAC_336_UNK_S')

'F_336_AAC_UNK_S'

In [28]:
def palindrome(string):
    return string == string[::-1]

In [29]:
palindrome('1221')

True

In [30]:
a = '1221'

In [32]:
a[::-1]

'1221'

In [33]:
palindrome('suraj')

False

In [34]:
def isPalindrome(s):
  
    # to change it the string is similar case
    s = s.lower()
    # length of s
    l = len(s)
  
    # if length is less than 2
    if l < 2:
        return True
  
    # If s[0] and s[l-1] are equal
    elif s[0] == s[l - 1]:
  
        # Call is palindrome form substring(1,l-1)
        return isPalindrome(s[1: l - 1])
  
    else:
        return False

In [39]:
isPalindrome('malayalam')

True

In [4]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {'Column1': [{(np.nan, 'a'), ('a', np.nan)}, ('b', 'c')]}
df = pd.DataFrame(data)

# Define a custom function to check if both elements in the tuple are the same
def replace_if_same(tup):
    if pd.notna(tup[0]) and pd.notna(tup[1]) and tup[0] == tup[1]:
        return ''
    else:
        return tup

# Apply the custom function to the DataFrame column
df['Column1'] = df['Column1'].apply(replace_if_same)

# Display the updated DataFrame
print(df)

TypeError: 'set' object is not subscriptable

In [3]:
data = {'Column1': [{(np.nan, 'a'), ('a', np.nan)}, ('b', 'c')]}
df = pd.DataFrame(data)
df

                Column1
0  {(a, nan), (nan, a)}
1                (b, c)